/* Rules */
:root {
    --main-color: #2196f3 ;
    --secondary-color: #1787e0;
    --main-trans: 0.3s;
    --section-padding: 100px;
    --section-background: #ececec;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Cairo" , sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.special-header {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px black solid;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    position: relative;
    transition: var(--main-trans);
    z-index: 999;
}
.special-header:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}
.special-header::after,
.special-header::before {
    content: '';
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: -1;
}
.special-header::before {
    left: -30px;
}
.special-header::after {
    right: -30px;
}
.special-header:hover::after {
    animation: to-left 0.5s linear forwards;
}
.special-header:hover::before {
    animation: to-right 0.5s linear forwards;
}
/* Small screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium screen */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large screen */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End rules */
/* Start header style */
header {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 74px;
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
}

header nav .nav > a {
    position: relative;
    height: 74px;
    padding: 0 30px;
    font-size: 18px;
    transition: var(--main-trans);
    color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header .nav > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
header .nav > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    right: 100%;
    top: 0%;
    background-color: var(--main-color);
    transition: var(--main-trans);
}
header .nav > a:hover::before {
    right: 0%;
}
@media (max-width : 768px) {
    header .nav > a{
        font-size: 15px !important;
        padding: 0 20px !important;
        max-height: 55px;
    }
    header nav ul {
        padding: 0 !important;
    }
    header .container {
        flex-direction: column;
    }
}
header .menu {
    position: absolute;
    background-color: white;
    display: flex;
    border-bottom: 3px var(--main-color) solid;
    top: 75px;
    left: 0px;
    width: 100%;
    padding: 30px;
    opacity: 0;
    z-index: -1;
    transition: top var(--main-trans), opacity var(--main-trans);
}
header .nav:hover .menu {
    z-index: 2;
    opacity: 1;
}
header .menu .row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header .menu .row li{
    position: relative;
    overflow: hidden;
    transition: var(--main-trans);
}
header .menu .row li:not(li:last-child) {
    border-bottom: 1px #e9e6e6 solid;
}
header .menu .row li a{
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    display: block;
    padding: 15px;
    z-index: 1;
    position: relative;
}
header .menu .row li:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    z-index: 1;
    transition: var(--main-trans);
}
header .menu .row li:hover:before{
    right: 0%;
    
}
header .menu .row li a i {
    margin-right: 18px;
}

header .menu .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .menu img{
    max-width: 100%;
}
@media (max-width : 1200px) {
    .menu img{
        max-width: 40% !important;
    }

}
@media (max-width : 992px) {
    .menu img{
        display: none;
    }
    .menu .row {
        padding: 0 0 0 14px;
    }
}
@media (max-width : 768px) {
    .menu {
        padding: 0 !important;
        margin: 0 !important;
        top: 149px !important;
    }
    .menu .links {
        flex-direction: column;
    }
    header .menu .row li {
        border-bottom: 1px #e9e6e6 solid;
    }
}
/* END header style */
/* Start landing style */
    .landing {
        height: calc(100vh - 75px);
        position: relative;
        overflow: hidden;
    }
    .landing::before {
        content: '';
        position: absolute;
        background-color: #ececec;
        width: 100%;
        height: 100%;
        left: 0;
        top: -136px;
        z-index: -1;
        transform: skewY(-6deg);
    }
    .landing .container {
        display: flex;
        align-items: center;
        gap: 40px;
        height: 80%;
    }
    .landing .container img {
        width: 600px;
        animation: up-down 5s linear infinite;
    }
    .landing .container .txt h1 {
        font-size: 40px;
        letter-spacing: -2px;
        margin: 0;
    }
    .landing .container .txt p {
        font-size: 23px;
        margin-top: 10px;
        line-height: 1.8;
        color: #777;
    }
    .go-down {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--main-color);
    }
    .go-down i {
        animation: bouncing 1.5s infinite;
    }
    @media (max-width : 992px) {
        .landing img {
            display: none;
        }
        .landing .txt {
            text-align: center;
        }
    }

/* END landing style */
/* Start articles style */
    .articles {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }
    .articles .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
        gap: 40px;
        margin-top: 60px;
    }
    .articles .cards .card{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        transition: var(--main-trans);
    }
    .articles .cards .card h3{
        margin: 24px 0;
        padding-left: 20px;
    }
    .articles .cards .card p{
        padding-left: 20px;
        color: #777;
        line-height: 1.4;
    }
    .articles .cards .card .read-more{
        margin-top: 18px;
        padding: 20px;
        border-top: 1px solid #e6e6e7;
        display: flex;
        justify-content: space-between;
        color: var(--main-color);
    }
    .articles .cards .card:hover {
        transform: translateY(-18px);
        box-shadow: 0  2px 15px rgb(0 0 0 / 20%);;
    }
    .articles .cards .card:hover .read-more i {
        animation: left-right 0.6s linear infinite;
    }
    .articles .cards .card .read-more a{
        color: var(--main-color);
        font-weight: bold;
    }
    .articles .cards .card img{
        max-width: 100%;
    }
/* END articles style */
/* END gellery style */
.gallery {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 40px;
    margin-top: 60px;
}
.gallery .container .box {
    padding: 14px;
    background-color: #ffff;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box:hover img {
    transform: rotate(4deg) scale(1.1);
}
.gallery .container .img{
    position: relative;
    overflow: hidden;
}
.gallery .container .img::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
}
.gallery .container .img:hover::before {
    animation: flashlight 0.7s;
}
.gallery .container img{
    max-width: 100%;
    transition: var(--main-trans);
}
/* END gellery style */
/* Start features style */
.features {
    padding: var(--section-padding) 0;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.features .box  {
    border: 1.6px #e6e6e7 solid;
    margin-top: 65px;
}
.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features .box h2::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 6px;
}
.features .blue h2::after {
    background-color: #2196f3 ;
}
.features .red h2::after {
    background-color: #f44036 ;
}
.features .green h2::after {
    background-color: #009688 ;
}
.features .box p {
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
    padding: 20px;
    color: #777;
    line-height: 2;
}
.features .box img {
    max-width: 100%;
    padding: 0;
}
.features .box .img {
    position: relative;
    overflow: hidden;
}
.features .box .img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    border-width: 0 0 170px 500px;
    border-style: solid;
    border-color: transparent transparent #ffff transparent;
    transition: var(--main-trans);

}
.features .box:hover .img::after {
    border-width:  170px 500px 170px 0;
}
.features .box .img::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .blue .img::before {
    background-color: rgba( 3 , 168 , 244, 0.6);
}
.features .green .img::before {
    background-color: rgba(0 , 150 , 136 , 0.6);
}
.features .red .img::before {
    background-color: rgba(244, 63, 54, 0.6)
}
.features .box .btn a {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
    display: block;
    padding: 12px 35px;
    border: 3px transparent solid;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto 10px auto; 
    transition: var(--main-trans);
}
.features .red .btn,
.features .green .btn,
.features .blue .btn {
    position: relative;
}
.features .box:hover .btn a{
    color: #ffff;
}
.features .red .btn a::before,
.features .green .btn a::before,
.features .blue .btn a::before{
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: var(--main-trans);

}
.features .blue:hover .btn a::before{
    background-color: #03a9f4;
    width: 100%;
}
.features .blue .btn a{
    border-color: #03a9f4;
    color: #03a9f4;
}
.features .green:hover .btn a::before{
    background-color: #009688;
    width: 100%;
}
.features .green .btn a{
    border-color: #009688;
    color: #009688;
}
.features .red:hover .btn a::before{
    background-color: #f44036;
    width: 100%;
}
.features .red .btn a{
    border-color: #f44036;
    color: #f44036;
}

/* END features style */
/* Start testimonials style */
.testo {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.testo .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 40px;
    margin-top: 60px;
}
.testo .box {
    background-color: #ffff;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}
.testo .box img{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    top: -50px;
    right: -12px;
    border: 12px solid var(--section-background);
}
.testo .box h3 {
    margin: 8px 0;
}
.testo .box p {
    color: #777;
    line-height: 1.6;
}
.testo .box .rating {
    margin: 8px 0;
}
.testo .box .rating .filled {
    color: #ffc107;
}
/* END testimonials style */
/* Sart team members style */
.team {
    padding: var(--section-padding) 0;
}
.team .container {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.team .card {
    position: relative;
}

.team .card::before,
.team .card::after {
    content: "";
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 8px;
    position: absolute;
    width: 0;
    top: 0;
    right: 0;
    z-index: -1;
    transition: var(--main-trans);
}
.team .card::before {
    width: 88%;
}
.team .card:hover::after {
    width: 88%;
    background-color: #e4e4e4;
}
.team .card .header {
    margin-top: 60px;
    display: flex;
}
.team .card .header .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    gap: 21px;
}
.team .card .header .social i{
    color: #777;
    transition: var(--main-trans);
}
.team .card .header .social i:hover{
    color: var(--main-color);
}
.team .card h3,.team .card p {
    padding: 0 0 0 80px;
}
.team .card p {
    margin: 20px 0;
}
.team .card h3 {
    color: var(--main-color);
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-trans);
}
.team .card:hover h3 {
    color: #777;
}
.team img {
    max-width: 86%;
    border-radius: 8px;
    transition: var(--main-trans);

}
.team .card:hover img {
    filter: grayscale(100%);
}
/* END team members style */
/* Start services style */
.services {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
    margin-top: 35px;
}
.services .box  {
    background-color: #ffff;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: box-num;
    position: relative;
    transition: var(--main-trans);
}
.services .box::before {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 0;
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    transition: var(--main-trans);
}
.services .box:hover {
    transform: translateY(-15px);
}
.services .box:hover::before {
    width: 100%;
    height: 3px;
}
.services .box .header {
    text-align: center;
}
.services .box .header i {
    color: #d5d5d5;
    display: block;
    margin: 35px auto 25px;
}
.services .box .header h3 {
    color: var(--main-color);
    font-size: 25px;
    margin-bottom: 25px;
}
.services .box .content {
    position: relative;
    padding: 15px;
    background-color: #f9f9f9;
}
.services .box .content::before {
    content: "0" counter(box-num);
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 28px;
    font-weight: bold;}
.services .box .content::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 65px;
    transform: skew(30deg);
}
.services .box .content a {
    color: var(--main-color);
    text-align: end;
    display: block;
}
/* END services style */
/* Start skills style */
.skills {
    padding: var(--section-padding) 0;
}
.skills .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}
.skills-bars {
    flex: 1;
}
.skills .skills-bars .bar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 75px;
}
.skills .bar p {
    color: var(--main-color);
    font-size: 14px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 3px;
    position: relative;
}
.skills .skills-bars .bar::before {
    content: "";
    position: absolute;
    height: 38px;
    top: 34px;
}
.skills .skills-bars .bar::before{
    width: 100%;
    background-color: var(--section-background);
}
.skills .skills-bars .bar .span{
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    height: 38px;
    top: 34px;
    left: 0;
    transition: width .5s linear ;
}
@media (max-width: 992px) {
    .skills img {
        display: none;
    }
}
/* END skills style */
/* Start how-it-works style */
.works {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.works .container {
    display: flex;
    gap: 100px;
    margin-top: 45px;
    align-items: center;
}
.works img {
    max-width: 100%;
}
@media (max-width: 992px) {
    .works .container {
        flex-direction: column;
    }
}
.works .step {
    display: flex;
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 32px;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 2px solid white;
    border-radius: 5px;
}
.works .step::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: var(--main-trans);
    z-index: -1;
}
.works .step:hover::before {
    width: 100%;
    height: 100%;
}
.works .step .content {
    padding-left: 30px;
}
.works .step h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.works .step p {
    font-size: 18px;
    line-height: 1.6;
    color: #777;
    margin-bottom: 10px;
}
.works .step img {
    width: 65px;
}
@media (max-width: 768px) {
    .works .step {
        flex-direction: column;
        padding: 15px 10px;
        text-align: center;
    }
}
/* END how-it-works style */
/* Starts LATEST EVENTS style */
.events {
    padding: var(--section-padding) 0;
    position: relative;
}
.events::before,
.events::after {
    content: "";
    position: absolute;
    background-image: url(../imgs/dots.png);
    background-repeat: no-repeat;
    width: 205px;
    height: 168px;
    z-index: -1;
}
.events::before {
    bottom: 15%;
    left: 0;
}
.events::after {
    top: 15%;
    right: 0;
}
.events img {
    max-width: 45%;
}
@media (max-width: 992px) {
    .events img {
        display: none;
    }
}
.events .container {
    margin-top: 45px;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.events .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.events .time {
    display: flex;
    gap: 18px;
}
.events .time div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid#d4d4d4;
    border-radius: 6px;
    width: 75px;
    transition: var(--main-trans);
}
.events .time div:hover,
.events .time div:hover p {
    border-color: var(--main-color);
}
.events .time div h3 {
    color: var(--main-color);
    margin-bottom: 8px;
    padding: 10px 0px;
    font-size: 34px;
}
.events .time div p {
    text-align: center;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #d4d4d4;
    padding: 8px 0;
    transition: var(--main-trans);
}
.events .content .txt {
    margin: 40px 0;
}
.events .content .txt h2 {
    font-size: 30px;
}
.events .content .txt p {
    color: #777;
    line-height: 1.8;
    font-size: 19px;
    margin-top: 18px;
}
.events form {
    margin: auto;
    background-color: #f6f5f5;
    padding: 30px 50px;
    border-radius: 50px;
    display: flex;
    gap: 30px;
}
@media (max-width: 768px) {
    .events form {
        padding: 18px;
        border-radius: 0;
        max-width: 100%;
        flex-direction: column;
    }
}
.events form #email {
    padding-left: 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: var(--main-trans);
    flex-basis: 75%;
    width: 500px;
    caret-color: var(--main-color);
}
@media (max-width: 768px) {
    .events form #email {
        padding: 18px;
        border-radius: 0;
        width: 285px;
    }
}
/* email placeholder delete when click */
.events form #email::placeholder {
    transition: var(--main-trans);
}
.events form #email:focus::placeholder {
    opacity: 0;
}
.events form #btn {
    padding: 25px 0;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-trans);
    flex-basis: 25%;
}
@media (max-width: 768px) {
    .events form #btn {
        padding: 18px;
        border-radius: 0;
        max-width: 100%;
    }
}
.events form #btn:hover {
    background-color: var(--secondary-color);
}
/* END LATEST EVENTS style */

/* Start pricing style */
.pricing {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
    position: relative;
}
.pricing::before,
.pricing::after {
    content: "";
    position: absolute;
    background-image: url(../imgs/dots.png);
    background-repeat: no-repeat;
    width: 205px;
    height: 168px;
    z-index: 0;
}
.pricing::before {
    bottom: 15%;
    left: 0;
}
.pricing::after {
    top: 15%;
    right: 0;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
    margin-top: 65px;
}
.pricing .card {
    background-color: #fff;
    padding: 30px 0;
    position: relative;
    z-index: 1;
}
.pricing .card::after,
.pricing .card::before {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: var(--main-trans);
    z-index: -1;
}
.pricing .card::after {
    top: 0;
    left: 0;
}
.pricing .card::before {
    bottom: 0;
    right: 0;
}
.pricing .card:hover::before,
.pricing .card:hover::after {
    width: 100%;
}
.pricing .card img {
    max-width: 20%;
    margin: 16px 0;
}
.pricing .card .header {
    text-align: center;
}
.pricing .card .header span{
    display: block;
}
.pricing .card .header h3 {
    font-size: 24px;
    margin: 16px 0;
}
.pricing .card .header .price {
    font-size: 48px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .card .header .period {
    color: #777;
    margin: 5px 0 19px;
}
.pricing .card ul {
    padding: 0;
}
.pricing .card .content li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .card .content li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 14px;
}
.pricing .card .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 19px;
}
.pricing .card .footer a {
    color: var(--main-color);
    border: 3px solid var(--main-color);
    padding: 15px 22px;
    border-radius: 7px;
    font-weight: bold;
    transition: var(--main-trans);
}
.pricing .card .footer a:hover {
    background-color: var(--main-color);
    color: #ffff;
}
.pricing .best {
    position: relative;
}
@media(min-width: 1200px) {
    .pricing .best {
        top: -20px;
    }
}
.pricing .best .label {
    position: absolute;
    top: 63px;
    right: -24px;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    rotate: 90deg;
    font-size: 18px;
    padding: 10px 45px 10px 20px;
}
.pricing .best .label::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -2px;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 21px;
}
/* END pricing style */

/* Starts videos style */
.videos {
    padding: var(--section-padding) 0 ;
}
.videos .container {
    margin-top: 75px;
    display: flex;
    border: 1px solid #ddd;
    padding: 0;
}
.videos .vid-list {
    flex-basis: 30%;
}
.videos .vid-list .header{
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    font-size: 16px;
}
.videos .vid-list ul{
    padding: 0;
}
.videos .vid-list ul li{
    padding: 20px;
    cursor: pointer;
    transition: var(--main-trans);
}

.videos .vid-list ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.videos .vid-list ul li span{
    color: #777;
}
.videos .vid-list ul li p{
    margin-bottom: 14px;
    transition: var(--main-trans);
}
.videos .vid-list ul li:hover p{
    color: var(--main-color);
}
.videos .vid-list ul li:hover{
    background-color: #fafafa;
}
.videos img {
    max-width: 100%;
}
.videos .vid {
    padding: 14px;
    background-color: var(--section-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .vid .txt{
    background-color: #fff;
    padding: 22px;
    margin-top: 12px;
}
@media (max-width: 992px) {
    .videos .container {
        flex-direction: column;
    }
}
/* END videos style */

/* Start stats style */
.stats {
    padding: var(--section-padding) 0;
    background-image: url(../imgs/stats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255, 95%);
    z-index: -1;
}
.stats h1 {
    font-size: 35px;
    text-align: center;
}
.stats .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
}
.stats .grid .box {
    padding: 40px;
    background-color: #fff;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: var(--main-trans);
}
.stats .box:hover {
    opacity: 1;
}
.stats .box::before,
.stats .box::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 2px;
    height: 0;
    transition: 1.2s;
}
.stats .box::before {
    top: 0;
    right: 0;
}
.stats .box::after {
    bottom: 0;
    left: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}

.stats .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto;
}
.stats .box .txt {
    font-size: 20px;
    font-style: italic;
    color: var(--main-color);
    font-weight: bold;
}
/* END stats style */

/* Start discount style */
.discount {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}
@media (max-width: 750px) {
    .discount {
        flex-direction: column;
    }
}
.discount .image {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../imgs/discount-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    color: white;
    animation: change-background 8s linear infinite;
    transition: var(--main-trans);
}
.discount h2 {
    font-size: 40px;
    letter-spacing: -0.8px;
    margin-bottom: 18px;
}
@media (max-width: 750px) {
    .discount h2{
        margin-top: 70px;
    }
}
.discount .image p {
    text-align: center;
    max-width: 520px;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 18px;
}
.discount .image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23, 135, 224, 98%);
    z-index: -1;
}
.discount img {
    width: 300px;
    max-width: 100%;
}
.discount .form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}
.discount .form textarea {
    resize: none;
}
.discount .form input[type='text'],
.discount .form textarea {
    display: block;
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-bottom: 2px #ccc solid;
    outline: none;
    caret-color: var(--main-color);
}
.discount .form input[type='submit'] {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    transition: var(--main-trans);
}
.discount .form input[type='submit']:hover {
    background-color: var(--secondary-color);
}
/* END discount style  */

/* Start footer style */
footer {
    background-color: #191919;
    padding-top: 70px;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 30px;
}
footer .col {
    color: #b9b9b9;
}
footer .col .social{
    display: flex;
    gap: 10px;
    padding: 0;
    margin-bottom: 25px;
}
footer .col .social li a{
    background-color: #313131;
    color: #b9b9b9;
    padding: 15px;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 18px;
    transition: var(--main-trans);
}
footer .fb:hover {
    background-color: #1877f2 !important;
}
footer .twitter:hover {
    background-color: #1da1f2 !important;
}
footer .youtube:hover {
    background-color: #ff0000 !important;
}
footer .col p {
    line-height: 1.6;
}
footer .col h1 {
    color: white;
    margin-top: 0;
    font-size: 50px;
}
footer .links ul {
    padding: 0 ;
}
footer .links ul li {
    padding: 16px 0;
    transition: var(--main-trans);
    cursor: pointer;
}
footer .links ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}
footer .links ul li:not(:last-child) {
    border-bottom: 1px solid #444;
}
footer .links ul li:hover {
    color: white;
    padding-left: 12px;
}
footer .flex {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 32px;
}
footer .flex i {
    font-size: 26px;
    color: var(--main-color);
}

footer img {
    max-width: 100%;
    width: 80px;
    padding: 3px;
    background-color: white;
    margin: 2px;
}
footer .copy-rights {
    padding: 20px;
    border-top: 1px solid #444;
    text-align: center;
    color: white;
    margin-top: 70px;
}
/* END footer style */

/* Start animations */
@keyframes up-down {
    0%,100% {
        margin-top: 0;
    }
    50% {
        margin-top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
@keyframes to-right {
    50% {
        left: 0;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes to-left {
    50% {
        right: 0;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes left-right {
    100% {
        transform: translateX(8px);
    }
}
@keyframes change-background {
    100% {
        background-image: url(../imgs/discount-background2.jpg);
    }
}
@keyframes flashlight {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* END Start animations */
